@import "tailwindcss";
@import '@fontsource-variable/roboto';

html,
body {
    --font-sans: 'Roboto Variable', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}